[tool.poetry]
name = "shellous"
version = "0.18.0"
description = "Async Processes and Pipelines"
license = "Apache-2.0"
authors = ["Bill Fisher <william.w.fisher@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/byllyfish/shellous"
classifiers = [
  "Development Status :: 4 - Beta",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "Intended Audience :: System Administrators",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Framework :: AsyncIO",
]

[tool.poetry.urls]
"Release Notes" = "https://github.com/byllyfish/shellous/blob/main/CHANGELOG.md"
"Issue Tracker" = "https://github.com/byllyfish/shellous/issues"

[tool.poetry.dependencies]
python = "^3.9"
immutables = "^0.18"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
pylint = "^2.13.2"
mypy = "^0.961"
black = "^22.1.0"
codecov = "^2.1.12"
flake8 = "^4.0.1"
pytest-dotenv = "^0.5.2"
pytest-randomly = "^3.11.0"
pytest-timeout = "^2.1.0"
pdoc = "^12.0.1"
asyncstdlib = "^3.10.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = ["default"]
env_files = ["tests/tests.env"]
addopts = '--timeout=10 --color=yes --log-cli-format="%(created).03f %(levelname)s %(name)s %(message)s" --log-level=INFO --log-file-format="%(created).03f %(levelname)s %(name)s %(message)s"'
asyncio_mode = "auto"

[tool.pylint.'FORMAT']
extension-pkg-allow-list = ["termios,fcntl"]

[tool.pylint.'TYPECHECK']
max-module-lines = 1200

[tool.pylint.'DESIGN']
max-attributes = 12
