[tool.poetry]
name = "shellous"
version = "0.2.0"
description = "shellous: Run Processes and Pipelines"
license = "Apache-2.0"
authors = ["Bill Fisher <william.w.fisher@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/byllyfish/shellous"

[tool.poetry.dependencies]
python = "^3.9"
immutables = "^0.16"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-asyncio = "^0.15.1"
pylint = "^2.10.2"
mypy = "^0.910"
black = {version = "^21.7b0", allow-prereleases = true}
codecov = "^2.1.12"
flake8 = "^3.9.2"
pytest-dotenv = "^0.5.2"
pytest-randomly = "^3.10.1"
pytest-timeout = "^1.4.2"
pdoc = "^7.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = ["default"]
env_files = ["tests/tests.env"]
