[tool.poetry]
name = "shellous"
version = "0.11.0"
description = "Async Processes and Pipelines"
license = "Apache-2.0"
authors = ["Bill Fisher <william.w.fisher@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/byllyfish/shellous"
classifiers = [
  "Development Status :: 4 - Beta",
  "Operating System :: OS Independent",
  "Intended Audience :: Developers",
  "Intended Audience :: System Administrators",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Framework :: AsyncIO",
]

[tool.poetry.dependencies]
python = "^3.9"
immutables = "^0.16"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-asyncio = "^0.16.0"
pylint = "^2.11.1"
mypy = "^0.910"
black = {version = "^21.10b0", allow-prereleases = true}
codecov = "^2.1.12"
flake8 = "^4.0.0"
pytest-dotenv = "^0.5.2"
pytest-randomly = "^3.10.2"
pytest-timeout = "^2.0.1"
pdoc = "^8.0.1"
asyncstdlib = "^3.10.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = ["default"]
env_files = ["tests/tests.env"]
addopts = '--timeout=10 --color=yes --log-cli-format="%(created).03f %(levelname)s %(name)s %(message)s" --log-level=INFO --log-file-format="%(created).03f %(levelname)s %(name)s %(message)s"'

[tool.pylint.'FORMAT']
extension-pkg-allow-list = ["termios,fcntl"]

[tool.pylint.'TYPECHECK']
max-module-lines = 1200

[tool.pylint.'DESIGN']
max-attributes = 12
