astroid==2.9.2; python_full_version >= "3.6.2"
asyncstdlib==3.10.2; python_version >= "3.6" and python_version < "4.0"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
black==21.12b0; python_full_version >= "3.6.2"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
charset-normalizer==2.0.10; python_full_version >= "3.6.0" and python_version >= "3"
click==8.0.3; python_version >= "3.6" and python_full_version >= "3.6.2"
codecov==2.1.12; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.6.2" and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0") and platform_system == "Windows"
coverage==6.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
flake8==4.0.1; python_version >= "3.6"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
immutables==0.16; python_version >= "3.6"
importlib-metadata==4.10.0; python_version < "3.10" and python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.6"
isort==5.10.1; python_full_version >= "3.6.2" and python_version < "4.0"
jinja2==3.0.3; python_version >= "3.7"
lazy-object-proxy==1.7.1; python_version >= "3.6" and python_full_version >= "3.6.2"
markupsafe==2.0.1; python_version >= "3.7"
mccabe==0.6.1; python_full_version >= "3.6.2" and python_version >= "3.6"
mypy-extensions==0.4.3; python_version >= "3.6" and python_full_version >= "3.6.2"
mypy==0.930; python_version >= "3.6"
packaging==21.3; python_version >= "3.6"
pathspec==0.9.0; python_full_version >= "3.6.2"
pdoc==8.2.0; python_version >= "3.7"
platformdirs==2.4.1; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.6"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pygments==2.11.2; python_version >= "3.7"
pylint==2.12.2; python_full_version >= "3.6.2"
pyparsing==3.0.6; python_version >= "3.6"
pytest-asyncio==0.16.0; python_version >= "3.6"
pytest-dotenv==0.5.2
pytest-randomly==3.10.3; python_version >= "3.6"
pytest-timeout==2.0.2; python_version >= "3.6"
pytest==6.2.5; python_version >= "3.6"
python-dotenv==0.19.2; python_version >= "3.5"
requests==2.27.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
toml==0.10.2; python_full_version >= "3.6.2" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
tomli==1.2.3; python_version >= "3.6" and python_full_version >= "3.6.2"
typing-extensions==4.0.1
urllib3==1.26.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
wrapt==1.13.3; python_full_version >= "3.6.2"
zipp==3.7.0; python_version < "3.10" and python_version >= "3.7"
